.boxtable {
    width: 100%;
}
.boxtable div.up {
    background-image: url("images/up_arrow.png");
}
.boxtable div.down {
    background-image: url("images/down_arrow.png");
}
.boxtable div.default {
    background-image: url("images/default.png");
}
div.up,
div.default,
div.down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

.boxtable-header {
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 0 30px;
}

.boxtable-header div {
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
    padding: 10px 20px 10px 5px;
    z-index: 20;
}