.search {
    max-width: 100%;
    padding: 1rem;
    background: linear-gradient(180deg, rgb(0,63,147) 0%, rgb(64, 11, 82) 85%);
    z-index: -1;
    flex-basis: 100%;
}

.search_card {
  padding-top: 4rem;
  padding-bottom: 50px;
  text-align: center;
  box-shadow: none;
  color: #ffffff;
  /* position: absolute; */
}

.loadingBar {
  margin-top: 20vh !important;
}

.loadingscreen {
  height: 100vh !important;
}

.search_card_text {
  font-size: 30px;
}

.text-search {
  text-align: right;
  color: black;
  width: 1200px;
  padding-right: 35px;
  position: relative;
}

.text-search-icon {
  font-size: 12px;
  color: white;
  padding: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  /*top: 310px;*/
  margin-top: 5px;
  margin-left: -37px;
}

.footer {
  background: linear-gradient(0deg, rgba(0,63,147) 0%, rgb(25, 5, 97) 70%);
}
/* ////////  file-style ///// */
.constelacao {
    position: absolute;
    display: block;
    left:20%;
    top: 0;
    width: 60%;
    height: 30%;
    animation: rotate 100s infinite linear;
  }
  
  .estrela {
    background-color: white;
    border-radius: 80%;
    position: absolute;
    animation-name: estrela;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .estrela.style1 { animation-duration: 0.5s; animation-name: estrela; }
  .estrela.style2 { animation-duration: 1s; animation-name: estrela; }
  .estrela.style3 { animation-duration: 1.5s; animation-name: estrela; }
  .estrela.style4 { animation-duration: 2s; animation-name: estrelaDestacada; }
  
  .estrela.tam1 { width: 2px; height: 2px; }
  .estrela.tam2 { width: 2px; height: 2px; }
  .estrela.tam3 { width: 3px; height: 3px; }
  
  .estrela.opacity1 { opacity:  1; }
  .estrela.opacity2 { opacity: .5; }
  .estrela.opacity3 { opacity: .1; }
  
  
  
  @keyframes estrela {
    0% {
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
    }
    50% {
      box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
    }
    100% {
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
    }
  }
  
  @keyframes estrelaDestacada {
    0% {
      background-color: #FFFFFF;
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
    }
    20% {
      background-color: #FFC4C4;
      box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
    }
    80% {
      background-color: #C4CFFF;
      box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
    }
    100% {
      background-color: #FFFFFF;
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
    }
  }
  
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  .tracking-in-expand-fwd {
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
  @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  .tracking-in-expand-fwd-bottom {
    -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
  @-webkit-keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(50px);
              transform: translateZ(-700px) translateY(50px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
